*{
    margin: 0;
    padding: 0;
}
img{
    border:0;
}
ol, ul ,li{list-style: none;}
/*中间部分*/
.box-centers{
    width: 1000px;
    height: 1050px;
    background: #ffffff;
    margin:5px auto;
    overflow: hidden;
    margin-bottom: 10px;
}
.box-centers>div{
    float: left;
}

/* 左边 */
.box-centers-left{
     width:680px;
     height:100%;

}

/* 文字 */
.top-font{
    margin-left: 16px;
    padding-top: 5px;
    }
.top-font span{
     font-size: 16px;
}
.top-font label{
    font-size:14px;
}

/* 红条显示文字 */
.titles-font{
     width:660px;
     height:30px;
     background:red;
     margin-left:16px;
}
.titles-font p{
    color: #fff;
    font-size:15px;
    text-align: center;
    line-height: 25px;
}

/* 图片上面的文字 */
.font-onimg p{
    line-height:25px;
  margin-top: 10px;
  margin-left:16px;
  font-size:12px;
}

/* 图片 */
.box-imgs {
    width:660;
    height:411;
    margin-left:16px;
}

/* 文字简介 */
.font-jianjie{
   margin-left:16px;
}
.font-jianjie p{
     font-size:12px;
     line-height:30px;
}
/* 左边完 */


/* 右边 */
.box-centers-right{
     width:320px;
     height:100%;
}

/* 最新文章 */
.zuixin {
  width: 290px;
  height: 33px;
  background: url(../images/libg16.gif) no-repeat;
  margin-top: 35px;
  margin-left: 20px;
}
.zuixin span {
  color: #fff;
  margin-left: 43px;
  line-height: 34px;
}

/* 热点文章 */
.redian {
  width: 290px;
  height: 33px;
  background: url(../images/libg16.gif) no-repeat;
  margin-top: 18px;
  margin-left: 1px;
}
.redian span {
  color: #fff;
  margin-left: 43px;
  line-height: 34px;
}

/* 文字设置 */
.wenzi-shezhi a {
  color: black;
}
.wenzi-shezhi {
  margin-left: 20px;
  width: auto;
  height: auto;
  overflow: hidden;
}
.pp {
  width: 291px;
  height: 28px;
  background: url(../images/news_07.png) no-repeat;
  margin-top: 8px;
}
.pp:hover {
  background-position: 0 -28px;
  color: white;
}
.pp span {
  margin-left: 27px;
  line-height: 28px;
  display: inline-block;
  width: 64%;
  height: auto;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

/* 推荐图片文章 */
.tuijianimg {
  width: 290px;
  height: 33px;
  background: url(../images/libg16.gif) no-repeat;
  margin-top: 18px;
  margin-left: 1px;
}
.tuijianimg span {
  color: #fff;
  margin-left: 43px;
  line-height: 34px;
}

/* 图片 */
.box-imges{
    width:290px;
    height:auto;
    margin-left:22px;
    margin-top:10px;
    overflow:hidden;
    box-sizing:border-box;
}
.box-imges span{
     float:left;
     width:126px;
     height:auto;
     margin-left:10px;
     margin-top:10px;
}
.box-imges span label{
    display:inline-block;
    width: 85px;
    height:auto;
    font-size:14px;
    margin-top:5px;
    margin-left:2px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space: nowrap;
}
/* 清除浮动 */
.box-imges:after{
    display:block;
    clear:both;
    content:"";
}

.box-imges span a{
    display:block;
    width:126px;
    height: 106px;
}
.box-imges span a img{
   width:100%;
}
/* 悬停图片缩放 */
.box-imges span a:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transiton: 0.5s;
}
.box-imges span:hover label {
  color: red;
}

/* 热点文章 */
.redian {
  width: 290px;
  height: 33px;
  background: url(../images/libg16.gif) no-repeat;
  margin-top: 6px;
  margin-left: 20px;
}
.redian span {
  color: #fff;
  margin-left: 43px;
  line-height: 30px;
}

/* 文字设置 */
.wenzi-shezhi a {
  color: black;
}
.wenzi-shezhi {
  margin-left: 20px;
  width: auto;
  height: auto;
  overflow: hidden;

}
.pp {
  width: 291px;
  height: 28px;
  background: url(../images/news_07.png) no-repeat;
  margin-top: 8px;
}
.pp:hover {
  background-position: 0 -28px;
  color: white;
}
.pp span {
  margin-left: 27px;
  line-height: 28px;
  display: inline-block;
  width: 64%;
  height: auto;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}